/* index */
body {
  background-color: black;
  background-size: auto;
}

body::after {
  content: "";
  background-image: url("https://images.pexels.com/photos/1028637/pexels-photo-1028637.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -4;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* Top/main navbar */

.fas.fa-cocktail {
  margin-top: 2rem;
  z-index: -1;
  position: absolute;
  font-size: 9rem;
  float: left;
}

.home:hover {
  text-decoration: none;
}

.home {
  padding: 0;
  text-decoration: none;
}

hr {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: white;
  border-width: 2px 0 0 0;
  border-radius: 20px;
  width: auto;
}

hr:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: white;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.logo {
  font-family: "East Sea Dokdo", cursive;
  padding-bottom: 0;
  margin-bottom: -3rem;
}

.small {
  margin-left: 2.7em;
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0;
  color: rgb(95, 93, 93);
  font-size: 4rem;
  position: absolute;
}

.mixologist {
  margin-left: 1em;
  font-size: 9rem;
  padding-top: 2.5rem;
}

.login-logout,
.register {
  margin-top: 9rem;
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
}

.login-logout {
  margin-right: 0;
  padding-right: 0;
}

.register {
  padding-right: 1rem;
  padding-left: 0;
}

.header {
  margin-bottom: -2rem;
  padding-bottom: -2rem;
}

/********** Sidebar navigation *****/

.nav-sidebar {
  padding-top: 0;
  margin-right: -21px;
  margin-bottom: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}

#pageSubmenu {
  margin-left: 1rem;
  font-size: smaller;
}

.nav-sidebar > li > a {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

a:hover {
  color: coral;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

/* *********Drink thumbnail links *********/

.mainTitle {
  font-family: "Lora", serif;
  text-align: center;
  color: white;
}

.imgThumb {
  overflow: hidden;
  width: 9em;
  height: 9em;
  background-repeat: no-repeat;
  margin-top: 1rem;
}

.spirits {
  display: inline-block;
  overflow: hidden;
  width: 12em;
  height: 12em;
  border-radius: 15%;
  background-color: rgba(59, 59, 59, 0.7);
  text-align: center;
  margin: 1rem;
  position: relative;
}

.popularIngredients {
  text-align: center;
}

.figcaption {
  font-family: "Lora", serif;
  color: black;
  background-color: #337ab7;
  padding: 5px;
  font-weight: bolder;
  font-size: 16px;
  width: 100%;
  margin-bottom: 0;
}

/********* login page *********/

.loginPage {
  text-align: center;
  color: #fff;
  border-radius: 10%;
}

.loginForm {
  font-family: "Bebas Neue", cursive;
  border-radius: 10%;
  padding: 3rem;
  font-size: large;
  background-color: rgba(59, 59, 59, 0.7);
  width: 25%;
  margin-left: 25%;
}

.loginSubmitBtn {
  background-color: black;
  border-radius: 10%;
  margin-bottom: 2rem;
  font-family: "Bebas Neue", cursive;
  width: 25%;
  padding: 5px;
}

/******** Registration page and form *****/

.registerPage {
  background-color: rgba(59, 59, 59, 0.7);
  font-family: "Bebas Neue", cursive;
  text-align: center;
  color: #fff;
  border-radius: 10%;
  padding: 2rem;
  width: 25%;
  margin-left: 25%;
}

.form-control {
  margin: 1rem;
  font-size: large;
}

.registerLoginLink {
  padding: 5px;
  font-size: large;
  margin: 5px;
}

.registerForm {
  padding: 3rem;
}

.registerBtn {
  background-color: black;
  border-radius: 10%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: "Bebas Neue", cursive;
  width: 40%;
  padding: 5px;
  font-size: x-large;
}

/*********** Searchbar************* */

.searchTerm {
  border: 3px solid #337ab7;
  border-right: none;
  padding: 5px;
  height: 4rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: rgba(206, 205, 205, 0.6);
  text-align: center;
  width: 100%;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  width: 50%;
}

::placeholder {
  color: rgb(42, 42, 42);
}

.index-search {
  margin-bottom: 1rem;
}

.searchButton {
  width: 4rem;
  height: 4rem;
  border: 1px solid #337ab7;
  background: #337ab7;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 2rem;
  display: inline-block;
  position: absolute;
}

/*********** search results **********/

#resultsList {
  list-style-type: none;
  font-family: "Lora", serif;
  background-color: rgba(82, 82, 82, 0.7);
  border-radius: 5px;
  text-align: center;
  padding-left: 0;
}

strong {
  font-size: 16px;
  padding: 5px;
}

.resultsAnchor {
  display: inline-block;
  padding: 0;
  margin-top: 1rem;
  margin-left: 0;
  height: 12em;
  width: 12em;
  vertical-align: top;
}

.resultsImg {
  margin-top: 1.5rem;
  width: 9em;
  height: 9em;
  border-radius: 10px;
  padding: 0;
}

#resultsList > li {
  padding: 0;
  display: inline-block;
  font-size: 18px;
}

.searchTitle {
  text-align: center;
  color: white;
  font-family: "Lora", serif;
  margin-top: 0;
}

.resultsTitle {
  color: coral;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  font-family: "Lora", serif;
  padding: 10px;
}

.allIngredients {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.allIngredients:hover {
  box-shadow: 0 0 3rem 3rem rgba(255, 127, 80, 0.7) inset;
}

#allIngredientsList {
  list-style-type: none;
  font-family: "Lora", serif;
  background-color: rgba(59, 59, 59, 0.7);
  border-radius: 5px;
  text-align: center;
  margin-top: 1rem;
  color: #337ab7;
  column-count: 3;
  -webkit-column-count: 3;
  column-width: 10.5em;
  padding: 1rem;
}

.allIngredients {
  border: 2px solid coral;
  font-size: 16px;
  font-weight: bold;
  display: block;
  background-color: rgba(59, 59, 59, 0.7);
  padding: 1rem;
  margin: 1rem;
  width: 10em;
  display: inline-block;
}

.results {
  text-align: center;
}

/********** recipe detail page ***********/

.recipeName {
  font-family: "Lora", serif;
  margin: 1em;
}

.recipe {
  text-align: center;
  color: white;
  margin-left: 1rem;
}

.recipeHeader{
  border: none;
  border-radius: 5px;
  background-color: rgba(128, 126, 126, 0.5);
  font-family: "Lora", serif;
  height: min-content;
  padding: 2rem;
}

.instructions{
  border: none;
  border-radius: 5px;
  background-color: rgba(128, 126, 126, 0.5);
  font-family: "Lora", serif;
  padding: 1rem;
  margin-bottom: 5px;
}

.glassType > h4 {
  margin-top: 0;
}

.ingredientsList > h4 {
  margin-top: 0;
}

.glassType{
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
}

.ingredientsList{
  float: right;
  display: block;
  padding: 1rem;
  margin: 1rem;
}

.ingredients {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recipeImg {
  height: 15em;
  vertical-align: top;
  float: left;
  margin: 1rem;
}

.favoritesLinks {
  text-align: center;
}

.removeSavedRecipe,
.saveRecipe {
  text-align: center;
  color: #fff;
  padding: 1rem;
  margin-top: 4rem;
  background-color: black;
  border-radius: 10%;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

.messages {
  border-radius: 5px;
  background-color: rgba(128, 126, 126, 0.5);
  font-family: "Lora", serif;
  color: white;
  margin-top: 3rem;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  display: inline-block;
}

.messageContainer {
  text-align: center;
}

/*********** age verification popup ***********/

@import "bourbon";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.decor-line {
  position: relative;
  border-top: 1px solid #ccc;
  text-align: center;
  max-width: 40%;
  margin: auto;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #ccc;
}

.overlay-verify {
  background: #000;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.enterPage,
.exitPage {
  display: block;
  color: rgb(212, 208, 208);
  font-family: "Bebas Neue", cursive;
  font-size: large;
}

.exitPage {
  margin-bottom: 1rem;
}

.box {
  background: rgba(59, 59, 59, 0.5);
  position: absolute;
  margin-left: 25%;
  z-index: 9;
  display: table;
  text-align: center;
  color: rgb(212, 208, 208);
  border-radius: 20%;
  padding: 1rem;
  vertical-align: top;
}

.age {
  margin-bottom: 1rem;
}
