{% extends 'index.html' %}
{% block content %}
<!-- User login form -->

<div class="col-md loginPage">
  <form class="loginForm" method="POST">
    <h1>Login</h1>

    {{ form.hidden_tag() }}
    {{ form.username(class_="form-control", placeholder="USERNAME") }}
    {{ form.password(class_="form-control", placeholder="PASSWORD") }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    {% endfor %}

    <button class="loginSubmitBtn" type="submit">Login</button>
    <h3>Don't have an account?</h3>
    <p><a href="/register">Register here</a></p>
  </form>
</div>

{% endblock %}